@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  /* Colors */
  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);
  --primary-light-blue: hsl(245, 83%, 68%);
  --neutral-very-pale-blue: hsl(225, 100%, 98%);
  --neutral-desaturated-blue: hsl(224, 23%, 55%);
  --neutral-dark-blue: hsl(223, 47%, 23%);

  /* Font Weight */
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  background: var(--primary-pale-blue) url('images/pattern-background-mobile.svg') no-repeat fixed;
  background-size: 100% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Red Hat Display', sans-serif;
  padding: 1.5rem;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

.card {
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
}

.img-container {
  width: 100%;
  height: 10rem;
  background-image: url('images/illustration-hero.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.content {
  width: 85%;
  margin-inline: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.title {
  font-size: 1.3rem;
  font-weight: var(--fw-black);
  color: var(--neutral-dark-blue);
  margin-top: 1.5rem;
}

p {
  font-size: .9rem;
  font-weight: var(--fw-medium);
  line-height: 1.5;
  text-align: center;
  color: var(--neutral-desaturated-blue);
  margin-top: 1rem;
  width: 90%;
}

.plan {
  width: 100%;
  display: flex;
  gap: 1.3rem;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--neutral-very-pale-blue);
  margin-top: 1.5rem;
  padding: .7rem 1rem;
  border-radius: 1rem;
}

.music-icon {
  width: 45px;
}

.plan-type h2 {
  font-size: .9rem;
  font-weight: var(--fw-black);
  color: var(--neutral-dark-blue);
}

.plan-type p {
  font-size: .9rem;
  font-weight: var(--fw-medium);
  color: var(--neutral-desaturated-blue);
  margin: 0;
}

.change-btn {
  display: inline-block;
  background-color: transparent;
  color: var(--primary-bright-blue);
  font-size: .8rem;
  font-weight: var(--fw-bold);
  border: none;
  margin-left: auto;
  text-decoration: 1.2px solid underline;
  cursor: pointer;
  transition: color 200ms;
}

.change-btn:hover,
.change-btn:focus-visible {
  color: var(--primary-light-blue);
}

.payment-btn {
  width: 100%;
  display: inline-block;
  background-color: var(--primary-bright-blue);
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: .9rem;
  font-weight: var(--fw-bold);
  border-radius: .5em;
  padding: 1em;
  margin-top: 1.3rem;
  cursor: pointer;
  transition: background 200ms;
}

.payment-btn:hover,
.payment-btn:focus-visible {
  background-color: var(--primary-light-blue);
}

.cancel-btn {
  background-color: transparent;
  border: none;
  font-size: .9rem;
  font-weight: var(--fw-black);
  color: var(--neutral-desaturated-blue);
  margin-block-start: 1.3rem;
  margin-block-end: 1.5rem;
  cursor: pointer;
  transition: color 200ms;
}

.cancel-btn:hover,
.cancel-btn:focus-visible {
  color: var(--neutral-dark-blue);
}

@media screen and (min-width: 375px) {
  body {
    background: var(--primary-pale-blue) url('images/pattern-background-mobile.svg') no-repeat fixed;
    background-size: 100% 60%;
  }

  .card {
    max-width: 375px;
  }

  .title {
    font-size: 1.4rem;
  }

  p {
    font-size: 1rem;  
  }

  .plan-type h2 {
    font-size: 1rem;
  }
  
  .change-btn {
    font-size: .9rem;
  }

  .payment-btn {
    font-size: 1rem;
  }

  .cancel-btn {
    font-size: 1rem;
  }
}
